.counter {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.counter-button {
    border-radius: 1.5rem;
    border: none;
    padding: 0.5rem 1.2rem;
    margin: 1.5rem 0.5rem;
}

.counter-button:not(:last-child) {
    margin-bottom: 0;
}

.counter-button:hover {
    cursor: pointer;
    background-color: #dddddd;
}

.player-containers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 90vw;
    margin: auto;
}

.player-containers > * {
    flex-shrink: 0;
    flex-grow: 1;
}