

.backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    background-color: #111;
    opacity: .6;
}

dialog {
    z-index: 3;
    top: 0;
    margin: 100% auto;
    text-align: left;
    max-width: 60%;
    border-radius: 10px;
    border-color: #ddd;
}

dialog.settings {
    margin: 4rem 1.2rem 2rem auto;
}

.divider {
    height: 1px;
    width: 100%;
    margin: 1em 0;
    background-color: #000;
}