.delete {
    margin: 0.3rem;
    font-size: 14px;
    font-weight: bold;
    border-radius: 50%;
    aspect-ratio: 1;
    padding: 0.375rem 0.75rem;
}

.player-input {
    margin: 0.3rem;
    display: flex;
    align-items: center;
}